<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Usuario</title>
    <link rel="stylesheet" href="/styles/stylesMain.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Formulario de Usuario</h2>
        <form th:action="@{/users/create}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" required placeholder="Introduce tu email">
            </div>
            <div class="mb-3">
                <label for="nom" class="form-label">Nombre completo</label>
                <input type="text" id="nom" th:field="*{nom}" class="form-control" required placeholder="Introduce tu nombre">
            </div>
            <div class="mb-3">
                <label for="telefon" class="form-label">Teléfono</label>
                <input type="text" id="telefon" th:field="*{telefon}" class="form-control" placeholder="Introduce tu teléfono" min="0" max="9">
            </div>
            <div class="mb-3">
                <label for="adreca" class="form-label">Dirección</label>
                <input type="text" id="adreca" th:field="*{adreca}" class="form-control" placeholder="Introduce tu dirección">
            </div>
            <div class="mb-3">
                <label for="word" class="form-label">Contraseña</label>
                <input type="password" id="word" th:field="*{word}" class="form-control" required placeholder="Introduce tu contraseña">
            </div>
            <div class="mb-3">
                <label for="observacions" class="form-label">Observaciones</label>
                <textarea id="observacions" th:field="*{observacions}" class="form-control" placeholder="Introduce observaciones"></textarea>
            </div>
           
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
    </div>
</body>
</html>