<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/styles/stylesMain.css">
        
    </head>
    <body>
        <h1>Iniciar sessió</h1>
         <form th:action="@{/login}" method="post">
            <label for="username">Email</label>
            <input type="email" id="username" name="username" required />
            <br />
            <label for="password">Contrasenya:</label>
            <input type="password" id="password" name="password" required />
            <p th:if="${param.error}" class="error">Usuari o contrasenya incorrectes.</p>
          
            <br />
            <button type="submit">Iniciar sessió</button>
        </form>
    </body>
</html>