<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="main-container">
        <section class="table-container">
            <h2>Llista d'Usuaris</h2>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user, rowStat : ${users}" class="expandable-row">
                        <td th:text="${user.nom}" scope="row"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table>

            <form th:action="@{/users/create}" method="get">
                <button id="btn-users" type="submit" class="btn btn-danger" style="display: inline;">Crear Usuari</button>
            </form>

            <!-- Botón para ir atrás -->
            <a href="/" class="btn btn-secondary" style="margin-top: 10px;">Volver al Inicio</a>
        </section>
    </main>
</body>
</html>
