<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recuperar contrasenya - KM+</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesLogin.css">
</head>
<body>
    <main class="login-container">

        <!-- Logo y título -->
        <div class="login-logo">
            <img src="/images/logo.svg" alt="Logo KM+">
            <h1>Km+</h1>
        </div>
       <p>Introdueix un el teu codi de recuperació.</p>
        <!-- Formulario de recuperación -->
        <form th:action="@{/login/verifyToken}" method="post" class="login-form">
            <input type="hidden" name="email" th:value="${email}" />
            <!-- Token -->
            <div class="form-group">
                <label for="token">Codi</label>
                <input type="text"
                       id="token"
                       name="token"
                       th:value="${token}"
                       placeholder="Ingresa el codi rebut."
                       required>
            </div>


            <!-- Mensajes de error/success -->
            <p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
            <p th:if="${successMessage}" class="success" th:text="${successMessage}"></p>

            <!-- Botón de envío -->
            <button type="submit" class="btn-login">Validar Codi</button>
            <a class="forgot-password" href="/login">Iniciar Sessio</a>
        </form>

    </main>
</body>
</html>